* {
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

html,
body {
    /* aspect ratio */
    height: 45vw;
    width: 100vw;

    /* This disables scroll, forces aspect ratio */
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: rgb(56, 56, 56);
}

#root {
    background-color: maroon;
    height: 100%;
    width: 100%;
}

/* Hexagon CSS */
svg g {
    fill-opacity: 1;
}
svg :hover {
    fill-opacity: 0.8;
}
svg g polygon {
    stroke: rgb(0, 0, 0);
    stroke-width: 0.15;
}
.selectedPos polygon {
    /* z-index: 10; */
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5;
}
.plannedPos polygon {
    /* z-index: 10; */
    stroke: rgb(255, 0, 212);
    stroke-width: 0.3;
}
.containerPos polygon {
    /* z-index: 10; */
    stroke: rgb(238, 255, 0);
    stroke-width: 0.3;
}
.battlePos polygon {
    /* z-index: 10; */
    stroke: rgb(255, 0, 0);
    stroke-width: 0.7;
}
.highlightedPos polygon {
    /* z-index: 10; */
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
}
.remoteSensePos polygon {
    stroke: rgb(255, 136, 0);
    stroke-width: 0.3;
}
.bioWeaponPos polygon {
    stroke: rgb(88, 0, 81);
    stroke-width: 0.9;
}
.commInterruptPos polygon {
    stroke: rgb(236, 232, 0);
    stroke-width: 0.9;
}
.goldenEyePos polygon {
    stroke: rgb(236, 55, 0);
    stroke-width: 0.9;
}
