Iteration 0
Points: 20

Due: Fri 10/18/2019, 11:59pm in your GitHub repo, upload file URL to eCampus

 

This week you should meet with your customer. Emphasize to them that time is short, so you need to get going right away. In the first meeting(s) you should extract their user stories, sketch low-fi user interfaces and story boards (bring something to sketch on/with), etc. It might help to record your conversation (e.g. on your phone). You can then iterate with them and prioritize the stories. Each team should select a Scrum Master and Product Owner. The Scrum Master will submit the team reports. I recommend it be the Product Owner who makes contact with the customer to set up the meetings. You need to meet with the customer every iteration, if at all possible. Turn in the following, with all elements in a tar file (Word file for text documents):

 

·         Team roles: The team should elect a scrum master and product owner.

·         Customer meeting date/time/place: The team product owner should contact the customer and set up a meeting.

·         Summary: Write a two-paragraph (max) summary of the main customer need and how the application meets it, including who the stakeholders are. Include links to the video, GitHub repo and Pivotal Tracker in the document.

·         User stories: Create at least 4 user stories on 3x5 cards. These should be in the format shown in Chapter 7. You can submit photos of the 3x5 cards or type them up. Example:

Feature: Add a movie to Rotten Potatoes

As a movie fan

So that I can share a movie with other movie fans

I want to add a movie to the Rotten Potatoes database

·         User interface: Create lo-fi UI mockups and storyboards for at least 4 user stories. Submit photos of these.

·         Pivotal Tracker: Create a free open-source public Pivotal Tracker project and enter the user stories. Give access as “observers” to the instructor and TAs. DO NOT FORGET TO DO THIS.

·         Video: Produce a 2-minute video interview where customer describes the problem you will be solving and the application you will be building. An example interview is http://vimeo.com/46770083. Note this example was made at the end of the project, so the questions are somewhat different from what you should ask. STORE THE VIDEO ON VIMEO. PLACE A LINK TO THE VIDEO IN YOUR TAR FILE.

·         GitHub: Populate the initial public GitHub repo for your project. An open source repo is free. Give the instructor and TAs access as collaborators. DO NOT FORGET TO DO THIS. DO NOT USE THE PRIVATE TAMU GITHUB.

·         For legacy projects: write a one-page document discussing your overall strategy for learning/improving the prior code. Also, if any of your user stories are improved/replacement stories for what was done in the past, please note that in this document.

·         Grading approach: if you feel your project will require a custom grading approach, beyond that embodied in a legacy project, please discuss it in this section. Examples would be multi-team projects (with higher management content), extensive interfacing to existing infrastructure, large user base, high performance requirements, etc.

 

Place the tar file in documentation/Spring2019/i0.tar in your GitHub repo.